.container {
    width: 50%;
    margin: auto;
    padding: 10px;
    border: 1px solid #26619C;
}

.formGroup {
    display: block;
    margin: 5px;
}

.formLabel {
    display: block;
    margin: 5px;
}
.formControl {
    width: 100%;
    padding: 3px;
}